<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects page</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>Git: https://github.com/EpicJonny</p>

    {{> footer}}
  </body>
</html>
